# .NET build outputs
bin/
obj/

# Log files
logs/
*.log

# Compiled files
*.dll
*.exe
*.pdb
*.cache

# Visual Studio files
.vs/
*.suo
*.user
*.csproj.user

# Runtime files
appsettings.json
# Arquivos de recursos (se não quiser commitar)
Resources/
imagens/
notification/

# Pastas temporárias ou de backup
fonte/   # Se for backup antigo
Views/   # Se for cópia alternativa

# Configurações específicas
NuGet.Config